:root[data-theme="dark"] {
    --compact-list-separator: ', ';
    --compact-pronunciation: '・';

    --background-color: #1d1f21;
    --tag-text-color: #1d1f21;
    --text-color: #c5c9c6;
    --pronunciation-annotation-color:　#c5c9c6;

    --tag-popular-background-color: #98c379;
    --tag-frequent-background-color: #98c379;

    --tag-expression-background-color: #666666;
    --tag-part-of-speech-background-color: #666666;
    --tag-default-background-color: #666666;
    --tag-archaism-background-color: #666666;

    --tag-frequency-background-color: #98c379;
    --tag-pronunciation-dictionary-background-color: #b6bdca;
    --tag-dictionary-background-color: #b6bdca;
}

body {
    font-size: 18px;
    font-family: Roboto, BIZ UDGothic;
}

.source-ext {
    font-family: UD Digi Kyokasho NK-R;
}

.gloss-list {
    display: inline;
    padding: 0;
    list-style-type: none;
}
.gloss-separator {
    display: inline;
}
.gloss-content {
    display: inline;
}
.gloss-item {
    display: inline;
}
.gloss-item:not(:first-child)::before {
    content: var(--compact-list-separator);
    display: inline;
    color: var(--text-color-light3);
}

.definition-list {
  list-style-type: square;
}

.pronunciation-list:not([data-has-tags=true]) {
    display: inline;
    list-style: none;
    padding-left: 0;
}
.pronunciation-list:not([data-has-tags=true]) .pronunciation {
    display: inline;
}
.pronunciation-list:not([data-has-tags=true]) .pronunciation:not(:first-child)::before {
    white-space: pre-wrap;
    content: var(--compact-pronunciation);
    display: inline;
    color: var(--text-color-light3);
}

::-webkit-scrollbar {
    display: none;
}

.gloss-image-description {
    display: none;
}

.gloss-image-container {
    max-height: 200px;
}
